<div *ngIf="myStorage.getItem('currentUser')==null" class="row fullheight">
    <div class="col-lg-3 centered pd30 intro">
        <img class="img-circle" src="assets/icons/Logo.png" alt="">
        <br>
        <br>
        <p><b>Registrazione Distributore</b></p>
        <a [routerLink]="['/']"><button class="btn btn-secondary w100">Torna alla Home</button></a>
    </div>
    <div class="col-lg-9 centered">
        <h2 class="titolo centered">
            Registrazione Distributore
        </h2><br>
        <div class="container">
            <form class="form-control" #registrazioneDistributoreForm="ngForm" (ngSubmit)="registrazioneDistributore(registrazioneDistributoreForm.value)">
                <div class="row">
                    <div class="col">    
                        <h5><b>Nome</b></h5>
                        <input type="text" id="nome" ngModel name="nome" class="paragrafo mw340">
                    </div>
                    <div class="col">
                        <h5><b>Cognome</b></h5>
                        <input type="text" id="cognome" ngModel name="cognome" class="paragrafo mw340">
                    </div>
                </div>
                <h5 class="m25 left"><b>VAT Number</b></h5>
                <input type="text" id="vat" ngModel name="vat" class="paragrafo left">
                <div class="row">
                    <div class="col">
                        <h5 class="m25 left"><b>E-mail</b></h5>
                        <input type="email" id="email"  ngModel name="email" class="paragrafo left mw340">
                    </div>
                    <div class="col">
                        <h5 class="m25 left"><b>Telefono</b></h5>
                        <input type="tel" id="telefono" ngModel name="telefono" class="paragrafo left mw340">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="m25 left"><b>Indirizzo</b></h5>
                        <input type="text" id="indirizzo" ngModel name="indirizzo" class="paragrafo left mw340">
                    </div>
                    <div class="col">
                        <h5 class="m25 left"><b>N. Civico</b></h5>
                        <input type="text" id="civico" ngModel name="civico" class="paragrafo left mw340">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="m25 left"><b>Città</b></h5>
                        <input type="text" id="citta" ngModel name="citta" class="paragrafo left mw340">
                    </div>
                    <div class="col">
                        <h5 class="m25 left"><b>CAP</b></h5>
                        <input type="text" id="cap" ngModel name="cap" class="paragrafo left mw340">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="m25 left"><b>Provincia</b></h5>
                        <input type="text" id="provincia" ngModel name="provincia" class="paragrafo left mw340">
                    </div>
                    <div class="col">
                        <h5 class="m25 left"><b>Paese</b></h5>
                        <input type="text" id="paese" ngModel name="paese" class="paragrafo left mw340">
                    </div>
                </div>
                <hr>
                <h5 class="m25 left"><b>Specifica un Username</b></h5>
                <input type="text" id="username" ngModel name="username" class="paragrafo left">
                <h5 class="m25 left"><b>Inserisci una Password</b></h5>
                <input type="password" id="password" ngModel name="password" class="paragrafo left">
                <br>
                <button class="btn btn-primary btn-cust">Registrati</button>
            </form>
        </div>
    </div>
</div>

<!-- If Azienda Logged in -->

<div *ngIf="(myStorage.getItem('currentUser')!=null) && (checktypeA())" class="row fullheight">
    <div class="col-lg-3 centered pd30 intro">
        <img class="img-circle" src="assets/icons/Logo.png" alt="">
        <br>
        <br>
        <p><b>Registrazione Azienda</b></p>
        <a [routerLink]="['/']"><button class="btn btn-secondary w100">Torna alla Home</button></a>
    </div>
    <div class="col-lg-9 centered">
        <h2 class="titolo centered">
            Registrazione Azienda
        </h2><br>
        <div class="container">
            <form class="form-control" #registrazioneAziendaForm="ngForm" (ngSubmit)="registrazioneAzienda(registrazioneAziendaForm.value)">
                <div class="row">
                    <div class="col">    
                        <h5><b>Nome Società (o Brand)</b></h5>
                        <input type="text" id="societa" ngModel name="societa" class="paragrafo mw340">
                    </div>
                    <div class="col">
                        <h5><b>VAT Number</b></h5>
                        <input type="text" id="vat" ngModel name="vat" class="paragrafo mw340">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="m25 left"><b>E-mail</b></h5>
                        <input type="email" id="email"  ngModel name="email" class="paragrafo left mw340">
                    </div>
                    <div class="col">
                        <h5 class="m25 left"><b>Logo</b></h5>
                        <input type="text" id="logo" ngModel name="logo" class="paragrafo left mw340">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h5 class="m25 left"><b>Indirizzo</b></h5>
                        <input type="text" id="indirizzo" ngModel name="indirizzo" class="paragrafo left mw340">
                    </div>
                    <div class="col">
                        <h5 class="m25 left"><b>N. Civico</b></h5>
                        <input type="text" id="civico" ngModel name="civico" class="paragrafo left mw340">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="m25 left"><b>Città</b></h5>
                        <input type="text" id="citta" ngModel name="citta" class="paragrafo left mw340">
                    </div>
                    <div class="col">
                        <h5 class="m25 left"><b>CAP</b></h5>
                        <input type="text" id="cap" ngModel name="cap" class="paragrafo left mw340">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="m25 left"><b>Provincia</b></h5>
                        <input type="text" id="provincia" ngModel name="provincia" class="paragrafo left mw340">
                    </div>
                    <div class="col">
                        <h5 class="m25 left"><b>Paese</b></h5>
                        <input type="text" id="paese" ngModel name="paese" class="paragrafo left mw340">
                    </div>
                </div>
                <hr>
                <h5 class="m25 left"><b>Inserisci una Password per l'Azienda</b></h5>
                <input type="text" id="password" ngModel name="password" class="paragrafo left">
                <h5 class="m25 left"><b>Dettaglio dell'Azienda</b></h5>
                <textarea id="descrizione" ngModel name="descrizione" class="paragrafo left" rows="10" cols="25"></textarea>
                <br>
                <button class="btn btn-primary btn-cust">Registra Azienda</button>
            </form>
        </div>
    </div>
</div>