<div class="footer">
<div class="container">
    <!-- Footer -->
    
      <!-- Grid container -->
      <div class="container p-1 pb-0">

        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-lg-3 pad">
                <h5><b>Help Seller</b></h5>
                <hr>
                <p>Help Seller is a platform that helps Unilever group companies to deliver easily its own products and collaborate better with customers.
              </p>
            </div>
            <!-- Grid column -->  
            <!-- Grid column -->
            <div class="col-lg-3 pad">
              <h5><b>Link Utili</b></h5>
               <hr>
              <p>
                <u>Unilever Brands</u>
              </p>
              <p>
                <u>Supporto & FAQ</u>
              </p>
              <p>
                <u>Cookie Policy - Privacy Policy - GDPR Compliance Agreement</u>
              </p>
            </div>
  
            <!-- Grid column -->

            <div class="col-lg-3 pad">
              <h5><b>Normative di utilizzo</b></h5>
                <hr>
                <p>
                  <u>Condizioni generali di Vendita</u>
                </p>
                <p>
                  <u>Termini di utilizzo della piattaforma</u>
                </p>
                <p>
                  <u>Quantitativi e spedizioni</u>
                </p>
  
              </div>
              
            <div class="col-lg-3 pad">
              <h5><b>Contatti</b></h5>
                <hr>
              <p> <b>Università degli Studi di Salerno, Dip. Informatica</b></p>
              <p> Progetto HelpSeller® - IS & GPS</p>
              <p> Via Giovanni Paolo II, 132, 84084 Fisciano SA</p>

            </div>

          </div>

        </section>

  
        <hr class="my-1">

        <section class="p-1 pt-0">
          <div class="row d-flex align-items-center">

            <div>

              <p class="centered">
                <b>Copyright © 2022 HelpSeller</b>
              <p>

            </div>
          </div>
        </section>
      </div>
  </div>

</div>