<div class="footer">
<div class="container">
    <!-- Footer -->
    
      <!-- Grid container -->
      <div class="container p-1 pb-0">

        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-2">
              <h6>
                HelpSeller
              </h6>
              <p>
                Help Seller is a platform that helps Unilever group companies and distribution companies to collaborate for the sale of food products.
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
   

  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-2">
              <h6>
                Useful links
              </h6>
              <p>
                <a class="text-white">Unilever Group</a>
              </p>
              <p>
                <a class="text-white">Company List</a>
              </p>
              <p>
                <a class="text-white">FAQ</a>
              </p>
              <p>
                <a class="text-white">Help</a>
              </p>
            </div>
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-2">
                <h6>
                  Account
                </h6>
                <p>
                  <a class="text-white">Your Account</a>
                </p>
                <p>
                  <a class="text-white">Create Account</a>
                </p>
              </div>
              
              <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-2">
              <h6 >Contact</h6>
              <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
              <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>

          </div>

        </section>

  
        <hr class="my-2">

        <section class="p-1 pt-0">
          <div class="row d-flex align-items-center">

            <div>

              <div class="p-1 ">
                © 2021 Copyright: HelpSeller
              </div>

            </div>
          </div>
        </section>
      </div>
  </div>

</div>