<table class="table table-borderless">
    <tr class="table-light">
        <td class="table-light">Nome</td>
        <td class="table-light">Tipo</td>
    </tr>
    <tr class="table-light ">
        <td class="table-light"><input type="text" placeholder="Nome"></td>
        <td class="table-light">
            <select name="filtro" id="filtroSelect" [(ngModel)]="filtroSelect" required>
                <option value="tutti">Tutti</option>
                <option value="catalogo">Catalogo</option>
                <option value="quantita">Quantità</option>
            </select>
        </td>
    </tr>
</table>


<br><br>

<div class="scrolla">
    <table class="table table-borderless">
        <tr class="table-light">
            <td class="table-light">ID Sconto</td>
            <td class="table-light">Tipo</td>
            <td class="table-light">n° prodotti</td>
            <td class="table-light">Azioni</td>
        </tr>
        <tr class="table-light lista" *ngFor="let sconto of sconti">
            <td class="table-light">{{sconto.id}}</td>
            <td class="table-light">{{sconto.tipo}}</td>
            <td class="table-light">{{sconto.quantita}}</td>
            <td class="table-light"><button type="button" class="btn btn-primary pulsanti" data-bs-toggle="modal" data-bs-target="#modificaSconto"><i class="fa fa-edit fa-2x" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary pulsanti" data-bs-toggle="modal" data-bs-target="#trash"><i class="fas fa-trash-alt"></i></button></td>
        </tr>
    </table>
</div>

<!-- MODAL_TRASH -->
<div class="modal fade" id="trash" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ATTENZIONE !</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                VUOI CANCELLARE LO SCONTO ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" (click)="cancellaSconto()" class="btn btn-primary">Cancella</button>
            </div>
        </div>
    </div>
</div>


<br><br>

<button type="button " class="btn btn-primary bottoneSconto" data-bs-toggle="modal" data-bs-target="#aggiungiSconto">
    Aggiungi Sconto
</button>


<!-- MODAL MODIFICA SCONTO -->

<div class="modal fade" id="modificaSconto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-control" #modelModificaSconto="ngForm" (ngSubmit)="modificaSconto(modelModificaSconto.value)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifica Sconto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="modal-body">
                            <p><b>Nome Sconto</b></p>
                            <input type="text " name="nome" ngModel placeholder="inserisci nome sconto"><br>
                            <p><b>tipo</b></p>
                            <select name="tipo" [(ngModel)]="selectFromModel">
                                <option value="catalogo">Catalogo</option>
                                <option value="quantita">Quantità</option>
                            </select>
                            <br>
                            <!-- SCONTO QUANTITA -->
                            <p *ngIf="selectFromModel==='quantita'"><b>Quantità minima</b></p>
                            <input type="text" name="quantita" ngModel *ngIf="selectFromModel=='quantita'" placeholder="inserisci quantità minima"><br>
                            <!-- SCONTO CATALOGO -->
                            <p><b>Data Inizio</b></p>
                            <input type="date" ngModel name="dataInizio"><br>
                            <p><b>Data Fine</b></p>
                            <input type="date" ngModel name="dataFine"><br>
                            <p><b>Percentuale</b></p>
                            <input type="text" ngModel name="percentuale" placeholder="inserisci percentuale"><br><br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-primary">Modifica</button>
                </div>
            </form>
        </div>
    </div>
</div>


<br><br>



<!-- MODAL AGGIUNGI SCONTO -->

<div class="modal fade" id="aggiungiSconto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-control" #modelAggiungiSconto="ngForm" (ngSubmit)="aggiungiSconto(modelAggiungiSconto.value)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aggiungi Sconto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="modal-body">
                            <p><b>Nome Sconto</b></p>
                            <input type="text " name="nome" ngModel placeholder="inserisci nome sconto"><br>
                            <p><b>tipo</b></p>
                            <select name="tipo" [(ngModel)]="selectFromModel">
                                <option value="catalogo">Catalogo</option>
                                <option value="quantita">Quantità</option>
                            </select>
                            <br>
                            <!-- SCONTO QUANTITA -->
                            <p *ngIf="selectFromModel==='quantita'"><b>Quantità minima</b></p>
                            <input type="text" name="quantita" ngModel *ngIf="selectFromModel=='quantita'" placeholder="inserisci quantità minima"><br>
                            <!-- SCONTO CATALOGO -->
                            <p><b>Data Inizio</b></p>
                            <input type="date" ngModel name="dataInizio"><br>
                            <p><b>Data Fine</b></p>
                            <input type="date" ngModel name="dataFine"><br>
                            <p><b>Percentuale</b></p>
                            <input type="text" ngModel name="percentuale" placeholder="inserisci percentuale"><br><br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-primary">Aggiungi Sconto</button>
                </div>
            </form>
        </div>
    </div>
</div>