<table class="table table-borderless">
    <tr class="table-light ">
        <td class="table-light ">Nome</td>
        <td class="table-light ">Tipo</td>
    </tr>
    <tr class="table-light ">
        <td class="table-light "><input type="text" placeholder="Nome"></td>
        <td class="table-light "><input list="tipo" name="Tipo"></td>
    </tr>
</table>

<datalist id="tipo">
    <option value="Tutti"></option>
    <option value="Catalogo">
    <option value="Quantità">
</datalist>

<br><br>

<table class="table table-borderless">
    <tr class="table-light ">
        <td class="table-light ">Nome</td>
        <td class="table-light ">Tipo</td>
        <td class="table-light ">n°prodotti</td>
        <td class="table-light ">Azioni</td>
    </tr>
    <tr class="table-light lista">
        <td class="table-light ">Nome</td>
        <td class="table-light ">Tipo</td>
        <td class="table-light ">n° prodotti</td>
        <td class="table-light "><button>Modifica</button><button>Elimina</button></td>
    </tr>
</table>

<br><br>

<button class="bottoneAggiungi">Aggiungi Sconto</button>