<nav class="navbar navbar-light bg-light fixed-top hclass">
    <div class="container-fluid spacer">
        <div class="cnt col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <a class="nocolora" href="#">
                        <img class="img-circle" alt="HelpSeller" src="assets/img/logo-helpseller.png" />
                        <h1 class="hs">HelpSeller</h1>
                    </a>
                    <app-login></app-login>
                </div>
            </div>
        </div>
    </div>
</nav>