<div class="row fullheight">
    <div class="col-lg-3 centered pd30 intro">
        <img class="img-circle" src="assets/icons/Logo.png" alt="">
        <br>
        <br>
        <p><b>Registrazione Azienda</b></p>
        <a [routerLink]="['/']"><button class="btn btn-secondary w100">Torna alla Home</button></a>
    </div>
    <div class="col-lg-9 centered">
        <h2 class="titolo centered">
            Registrazione Azienda
        </h2><br>
        <div class="container scroll">
            <h5 class="m25 left"><b>Nome</b></h5>
            <input type="text" id="nome" name="nome" class="paragrafo left">
            <h5 class="m25 left"><b>Cognome</b></h5>
            <input type="text" id="cognome" name="cognome" class="paragrafo left">
            <h5 class="m25 left"><b>Ragione Sociale</b></h5>
            <input type="text" id="societa" name="societa" class="paragrafo left">
            <h5 class="m25 left"><b>VAT Number</b></h5>
            <input type="text" id="vat" name="vat" class="paragrafo left">
            <h5 class="m25 left"><b>Indirizzo</b></h5>
            <input type="text" id="indirizzo" name="indirizzo" class="paragrafo left">
            <h5 class="m25 left"><b>N. Civico</b></h5>
            <input type="text" id="civico" name="civico" class="paragrafo left">
            <h5 class="m25 left"><b>Città</b></h5>
            <input type="text" id="citta" name="citta" class="paragrafo left">
            <h5 class="m25 left"><b>CAP</b></h5>
            <input type="text" id="cap" name="cap" class="paragrafo left">
            <br>
            <a href=""><button class="btn btn-primary mt70">Registrati</button></a>
        </div>
    </div>
</div>