.centered {
    text-align: center;
}

.left {
    text-align: left;
}

.paragrafo {
    border: 1px solid #cecece;
    padding: 5px;
    width: 100%;
    max-width: 730px;
}

.m25 {
    margin: 25px;
}

.w100 {
    width: 100%;
    margin-top: 25px;
}

.img-circle {
    width: 100%;
    border-radius: 50%;
    background-color: white;
    border: 3px solid gray;
    padding: 10px;
}

.pd30 {
    padding: 30px;
}

.intro {
    background-color: #ffc964;
    padding: 30px;
    margin: -25px 30px -25px -30px;
    clear: both;
}

.fullheight {
    height: 100%;
}

.scroll {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}