<div class="amministratoreReport" *ngIf="currentUser.tipo=='Amministratore'">
    <h2 style="text-align: center;"> Report Vendite Gruppo Unilever</h2>
    <h3>Grafico vendite totale</h3>
    <div class="row align-items-center">
        <app-grafico-a-linea [barChartLabels]="anni" [barChartData]="datiAnnualiTotaliDB"></app-grafico-a-linea>
    </div>
    <p>N° Prodotti venduti: </p>
    <p>Quantità totale di prodotti venduti: </p>
    <p>Totale spedizioni: </p>
    <div class="float-start">
        <p>Totale Incasso: </p>
    </div>
    <br>
    <br>



    <div style="text-align: center;">
        <select class="custom-select" (change)="scegliAnno($event)">
        <option value="" selected>Scegli anno</option>
        <option *ngFor="let item of anni">{{item}}</option>
    </select>
    </div>




    <div id="MesiReport">

        <h3>Grafico Vendite Totale Annuo</h3>
        <div class="row align-items-center ">
            <app-grafico-a-barra #graficoABarra [barChartLabels]="mesi" [barChartData]="datiMensiliTotaliDB">
            </app-grafico-a-barra>
        </div>
        <p>N° Prodotti venduti: </p>
        <p>Quantità totale di prodotti venduti: </p>
        <!-- <p>Totale spedizioni: </p>
        <p>Azienda con più vendite totali: </p>
        <p>Azienda con meno vendite totali: </p>
        <p>Azienda con incremento vendite più alto: </p>
        <p>Incremento: </p>
        <p>Azienda con decremento vendite più alto: </p>
        <p>Decremento: </p> -->
        <div class="float-start ">
            <p>Totale Incasso: </p>
        </div>
        <br>
        <br>
    </div>



    <h2 style="text-align: center;"> Report Vendite Singola Azienda</h2>
    <div style=" text-align: center;">
        <select class="custom-select" class="col" (change)="getReportTotaleByAnnoIdAzienda($event)">
        <option value=" " selected>Scegli Azienda</option>
        <option *ngFor="let item of aziende ">{{item.nomeAzienda}}</option>
    </select>
    </div>




    <div id="reportAzienda " *ngIf="aziendaScelta!=null && aziendaScelta!=''">
        <h3>Grafico Vendite Totale Annuo</h3>
        <div class="row align-items-center ">
            <!-- <app-grafico-a-linea-azienda #graficoALineaAzienda [barChartLabelsLineaAzienda]="anni" [barChartDataLineaAzienda]="datiAnnualiTotaliDB_IDAzienda"></app-grafico-a-linea-azienda> -->
        </div>
        <p>N° Prodotti venduti: </p>
        <p>Quantità totale di prodotti venduti: </p>
        <!-- <p>Totale spedizioni: </p>
        <p>Azienda con più vendite totali: </p>
        <p>Azienda con meno vendite totali: </p>
        <p>Azienda con incremento vendite più alto: </p>
        <p>Incremento: </p>
        <p>Azienda con decremento vendite più alto: </p>
        <p>Decremento: </p> -->
        <div class="float-start ">
            <p>Totale Incasso: </p>
        </div>
        <br>
        <br>
    </div>
</div>




<div class="aziendaReport " *ngIf="currentUser.tipo=='Azienda'">
    <h1>Report Totale Annuali</h1>
    <!-- <app-grafico-a-linea-azienda #graficoALineaAzienda [barChartLabelsLineaAzienda]="anni" [barChartDataLineaAzienda]="datiAnnualiTotali"></app-grafico-a-linea-azienda> -->
    <h1>Grafico vendite totale annuo</h1>
    <!-- <app-grafico-a-barra-azienda #graficoABarraAzienda [barChartLabelsBarraAzienda]="mesi" [barChartDataBarraAzienda]="datiMensiliTotali"></app-grafico-a-barra-azienda> -->

</div>