<div class="container scroll">
    <div class="searchbarContainer"><input type="text" class="searchbar" placeholder="cerca azienda"><button><i class="fas fa-search"></i></button></div>
    <div class="row">
        <div *ngFor="let azienda of aziende" class="col">
            <a [routerLink]="['/profiloAzienda' ,azienda.id] ">
                <div class="aziendaContainer ">
                    <img src="assets/icons/Logo.png " alt="FOTO AZIENDA ">
                    <div>{{azienda.nomeAzienda}}</div>
                    <div>{{azienda.email}}</div>
                </div>
            </a>
        </div>
    </div>
</div>