  <h3>Spedizione</h3>
  <input type="radio" class="form-check-input" name="tipoSpedizione"  value = "Unica" (click)="setValue('Unica')"/> Unica
  <br/>
  <input type="radio"class="form-check-input" name="tipoSpedizione"  value = "Multipla" (click)="setValue('Multipla')"/> Multipla <br/>
  <br/>

  <!-- Spedizione Unica -->

  <div *ngIf="tipoSpedizione=='Unica'">
    <h4 style="text-align: center;">Aggiungi Trasporto</h4>
    <form class="form-group" #inserimentoGptForm="ngForm" (ngSubmit)="inserimentoGpt(inserimentoGptForm.value)">
      <b>Paese EU</b><br>
      <input type="text" class="form-control"name="paese" ngModel placeholder="Inserisci Paese">
      <br><br>
      <b>Via</b><br>
      <input type="text"class="form-control" name="via" ngModel placeholder="Inserisci Via">
      <br><br>
      <b>Civico</b><br>
      <input type="text"class="form-control" name="civico" ngModel placeholder="N.">
      <br><br>  
      <b>Città</b><br>
      <input type="text" class="form-control"name="citta" ngModel placeholder="Inserisci Città">
      <br><br>
      <b>Provincia</b><br>
      <input type="text" class="form-control" name="provincia" ngModel placeholder="Inserisci Provincia">
      <br><br>
      <b>CAP</b><br>
      <input type="text"class="form-control" name="cap" ngModel placeholder="Inserisci CAP"><br>
      <br>
      <b>Data</b><br>
      <input type="text" class="form-control" name="data" ngModel placeholder="Inserisci Data consegna">
      <br><br>
      <button class="btn btn-primary" style="width: 100%;">Aggiungi trasporto e concludi ordine</button> 
  </form>
  </div>

  <!-- Spedizione Multipla -->

  <div *ngIf="tipoSpedizione=='Multipla'">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N°divisioni ordine</th>
            <th scope="col">Via</th>
            <th scope="col">Civico</th>
            <th scope="col">Città</th>
            <th scope="col">Provincia</th>
            <th scope="col">CAP</th>
            <th scope="col">Quantità</th>
            <th>Azione</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of divisioni; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{item.via}}</td>
            <td>{{item.civico}}</td>
            <td>{{item.citta}}</td>
            <td>{{item.provincia}}</td>
            <td>{{item.cap}}</td>
            <td>{{item.quantita}}</td>
            <td><button class="btn btn-primary" id="elimina" style="background-color: orange;" (click) ="eliminaDivisione(i)"> <i style="font-size: 15px;" class= "fas fa-trash-alt"  ></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 30px">
      <button class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Aggiungi divisione</button>
    </div>
  </div>

<!-- modal -->
<form class="form-group" #inserimentoGptForm="ngForm" (ngSubmit)="inserimentoGpt(inserimentoGptForm.value)">
<div class="modal fade" id="staticBackdrop"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Aggiungi indirizzo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="modal-body">
                <b>Paese EU</b><br>
                <input type="text" class="form-control"name="paese" ngModel placeholder="Inserisci Paese">
                <br>
                <b>Via</b><br>
                <input type="text"class="form-control" name="via" ngModel placeholder="Inserisci Via">
                <br>
                <b>Civico</b><br>
                <input type="text"class="form-control" name="civico" ngModel placeholder="N.">
                <br>
                <b>Città</b><br>
                <input type="text" class="form-control"name="citta" ngModel placeholder="Inserisci Città">
                <br>
                <b>Provincia</b><br>
                <input type="text" class="form-control" name="provincia" ngModel placeholder="Inserisci Provincia">
                <br>
                <b>CAP</b><br>
                <input type="text"class="form-control" name="cap" ngModel placeholder="Inserisci CAP"><br>
                <br>
                <b>Quantità</b><br>
                <input type="text" class="form-control" name="quantita" ngModel placeholder="Inserisci Quantità" min=0 max="">
                <br>
                <b>Data</b><br>
                <input type="text" class="form-control" name="data" ngModel placeholder="Inserisci Data consegna">
              </div>
              <div class="modal-footer ">
                <button type="button " class="btn btn-secondary " (click)= "aggiungiDivisione()">Aggiungi Divisione</button>
              </div>
          </div>
      </div>
  </div>
</div>
</form>
