 
  <h3>Spedizione</h3>


  <input type="radio" class="form-check-input" name="tipoSpedizione"  value = "Unica" (click)="setValue('Unica')"/> Unica
  <br/>

  <input type="radio"class="form-check-input" name="tipoSpedizione"  value = "Multipla" (click)="setValue('Multipla')"/> Multipla <br/>
  <br/>

  

  <div  *ngIf="tipoSpedizione=='Unica'">
   
    <h4 style="text-align: center;">Aggiungi Trasporto</h4>
    <form class="form-group">
     
      <b>Via</b><br>
      <input type="text"class="form-control" name="via" [(ngModel)]="via" placeholder="Inserisci via">
      <br><br>
      <b>Civico</b><br>
      <input type="text"class="form-control" name="civico" [(ngModel)]="civico"placeholder="Inserisci via">
      <br><br>
    
   
      <b>Città</b><br>
      <input type="text" class="form-control"name="città" [(ngModel)]="citta" placeholder="Inserisci città">
      <br><br>
      
      <b>Provincia</b><br>
      <input type="text" class="form-control" name="provincia" [(ngModel)]="provincia" placeholder="Inserisci provincia">
      <br><br>
    
      <b>CAP</b><br>
      <input type="text"class="form-control" name="cap"  [(ngModel)]="cap" placeholder="Inserisci CAP"><br>
      <br> 
 
      
    
  </form>


  </div>



  <div *ngIf="tipoSpedizione=='Multipla'">
   
   
    <div>



    </div>




<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">N°divisioni ordine</th>
        <th scope="col">Via</th>
        <th scope="col">Civico</th>
        <th scope="col">Città</th>
        <th scope="col">Provincia</th>
        <th scope="col">CAP</th>
        <th scope="col">Quantità</th>
        <th>Azione</th>
        
        

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of divisioni; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{item.getVia()}}</td>
        <td>{{item.getCivico()}}</td>
        <td>{{item.getCitta()}}</td>
        <td>{{item.getProvincia()}}</td>
        <td>{{item.getCAP()}}</td>
        <td>{{item.getQuantita()}}</td>
        
         <td><button class="btn btn-primary" id="elimina" style="background-color: orange;" (click) ="eliminaDivisione(i)"> <i style="font-size: 15px;" class= "fas fa-trash-alt"  ></i></button></td>
      
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center">
  <button class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Aggiungi divisione</button>
</div>
</div>
<br>
<br>

<br>

  <div class="float-end">
    <button class="btn btn-primary" >Aggiungi trasporto e concludi ordine</button>
  </div>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Aggiungi indirizzo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="modal-body">
                 
                      <b>Via</b><br>
                      <input type="text" class="form-control" [(ngModel)]="via" name="via" placeholder="Inserisci via">
                      <br>
                      <b>Civico</b><br>
                      <input type="text" class="form-control" [(ngModel)]="civico"name="civico" placeholder="Inserisci via">
                      <br>
                      <b>Città</b><br>
                      <input type="text" class="form-control" [(ngModel)]="citta" name="città" placeholder="Inserisci città">
                      <br>
                      <b>Provincia</b><br>
                      <input type="text"  class="form-control" [(ngModel)]="provincia" name="provincia"  placeholder="Inserisci provincia">
                      <br>
                      <b>CAP</b><br>
                      <input type="text" class="form-control" [(ngModel)]="cap" name="cap"  placeholder="Inserisci CAP"><br>

          
                      <b>Quantità</b> 
                      <input type="number" name="cap"  class="form-control" [(ngModel)]="quantita" placeholder="Inserisci Quantità">
                      <br>

              
                  
              </div>
              <div class="modal-footer ">
                  <button type="button " class="btn btn-secondary " (click)= "aggiungiDivisione()">Aggiungi Divisione</button>
                  <button type="button " class="btn btn-primary " data-bs-dismiss="modal">Annulla</button>
              </div>
          </div>
      </div>
  </div>


