<div class="scroll">
    <div class="container">
        <div class="searchbarContainer"><input type="text" class="searchbar" placeholder="cerca prodotto"><button><i class="fas fa-search"></i></button></div>
        <div class="row">
            <div *ngFor="let item of fromBackEnd" class="col">
                <a href="">
                    <div class="prodottiContainer">
                        <img src="assets/icons/Logo.png" alt="FOTO PRODOTTO">
                        <div>{{item.nomeProdotto}}</div>
                        <div>{{item.descrizione}}</div>
                        <div>{{item.prezzo}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
