<div class="scroll">
    <div class="container">
        <form #form="ngForm" (ngSubmit)="ricercaConSidebar(form.value)">
            <div class="searchbarContainer">
                <input type="text" class="searchbar" id="searchbar" name="searchbar" ngModel placeholder="cerca prodotto "><button type="submit"><i class="fas fa-search "></i></button>
            </div>
        </form>
        <div class="row ">
            <div *ngFor="let prodotto of prodotti " class="col ">
                <a href=" ">
                    <div class="prodottiContainer ">
                        <img src="assets/prodotti/{{prodotto.immagine}}" alt="FOTO PRODOTTO ">
                        <div>{{prodotto.nomeProdotto}}</div>
                        <div>{{prodotto.descrizione}}</div>
                        <div>{{prodotto.prezzo}} €</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>