<div class="container">
    <div class="searchbarContainer"><input type="text" class="searchbar" placeholder="cerca prodotto"><button><i class="fas fa-search"></i></button></div>
    <div class="row">
        <div *ngFor="let item of [0,1,2,3,4,5,6]" class="col">
            <div class="prodottiContainer" id="prodottiContainer">
                <input type="checkbox" (click)="cambiaColore(item)" value="ciao"><br><br>
                <img src="" alt="FOTO PRODOTTO">
                <p>NOME PRODOTTO</p>
                <p>DESCRIZIONE</p>
                <p>PREZZO</p>
            </div>
        </div>
    </div>
</div>