<div class="container scroll">
    <div class="searchbarContainer"><input type="text" class="searchbar" placeholder="cerca prodotto"><button><i class="fas fa-search"></i></button></div>
    <div class="row">
        <div *ngFor="let prodotto of prodotti" class="col">
            <div class="prodottiContainer" id="{{'prodottiContainer '+prodotto.id}}" style="border-radius: 3%;">
                <input type="checkbox" (change)="selezionaProdotti(prodotto.id,$event)" id="{{'checkbox '+prodotto.id}} "><br><br>
                <img src="assets/icons/Logo.png" alt="FOTO PRODOTTO " style="width: 40%;">
                <p>{{prodotto.nomeProdotto}}</p>
                <p>{{prodotto.prezzo}} €</p>
            </div>
        </div>
    </div>
    <div style="text-align: center;"><button type="button" (click)="scontaSelezionati()" style="background-color: orange; border-radius: 15%;">SCONTA</button></div>
</div>