<div class="container scroll">
    <div class="searchbarContainer"><input type="text" class="searchbar" placeholder="cerca prodotto"><button><i class="fas fa-search"></i></button></div>
    <div class="row">
        <div *ngFor="let prodotto of prodotti" class="col">
            <div class="prodottiContainer" id="{{'prodottiContainer '+prodotto.id}}" style="border-radius: 3%;">
                <input type="checkbox" (change)="selezionaProdotti(prodotto.id,$event)" id="{{'checkbox '+prodotto.id}} "><br><br>
                <img [src]="prodotto.immagineBlob" alt="FOTO PRODOTTO " style="width: 40%;">
                <div class="mt-1">
                    <h3>{{prodotto.nomeProdotto}}
                    </h3>
                </div>
                <div class="mt-1">
                    <h3>{{prodotto.prezzo}} €
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;"><button type="button" (click)="scontaSelezionati()" style="background-color: orange; border-radius: 15%;">SCONTA</button></div>
</div>