<div id="gest-ord-effettuati" class="container row">
    <div class="col-lg-12 centered fleft">
        <h2 class="mb50">Ordini Effettuati</h2>
        <div class="col-lg-12 mb50">
          <form id="ricerca" class="form form-control inl">
            <div class="row">
              <div class="col-lg-4 pd20">
              <label><p>Nome</p></label>
              <input type="search" class="form-control" placeholder="Inserisci codice..." aria-label="Search">
              </div>
              <div class="col-lg-4 pd20">
              <label><p>Data</p></label>
              <input type="search" class="form-control" placeholder="Inserisci data..." aria-label="Search">
              </div>
              <div class="col-lg-4 pd20">
              <label><p>Azienda</p></label>
              <input type="search" class="form-control" placeholder="Inserisci azienda..." aria-label="Search">
              </div>
            </div>
          </form>         
        </div>
        <div class="table-responsive">          
            <div class="table-responsive-lg">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Cod. Ordine</th>
                      <th scope="col">Data Ordine</th>
                      <th scope="col">Azienda</th>
                      <th scope="col">Prezzo Totale (€)</th>
                      <th scope="col">Azioni</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let ordine of singleOrdine'>
                      <th scope="row"># <p>{{ordine.idOrdine}}</p></th>
                      <td><p>{{ordine.dataOrdinazione}}</p></td>
                      <td><p>{{ordine.idDistributore}}</p></td>
                      <td><p>manca il prezzo</p></td>
                      <td><button class="btn btn-primary edit"><i class="fa fa-edit fa-2x" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr>
                      <th scope="row">#<p></p></th>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><button class="btn btn-primary edit"><i class="fa fa-edit fa-2x" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr>
                      <th scope="row">#<p></p></th>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><p></p></td>
                      <td><button class="btn btn-primary edit"><i class="fa fa-edit fa-2x" aria-hidden="true"></i></button></td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
    </div>
</div>