<h2 style="text-align: center;"> Report Vendite</h2>
<h3>Grafico vendite</h3>
<div class="h-100 row align-items-center">  <app-grafico-a-linea></app-grafico-a-linea></div>
<p>N° Prodotti venduti: </p>
<p>Quantità totale di prodotti venduti: </p>
<p>Totale spedizioni: </p>


<div class="float-end"><p>Totale Incasso: </p></div>
<br>
<br>



<div class="dropdown" style="text-align:center">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Scegli Anno
    </a>
    <select class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <option>2018</option>
      <option>2019</option>
      <option>2020</option>
      <option>2021</option>
      </select>
 
</div>

<h3>Grafico Vendite Annuo</h3>
<div class="h-100 row align-items-center">  
<app-grafico-a-barra></app-grafico-a-barra>
</div>
<p>N° Prodotti venduti: </p>
<p>Quantità totale di prodotti venduti: </p>
<p>Totale spedizioni: </p>


<div class="float-end"><p>Totale Incasso: </p></div>
<br>
<br>

<div class="dropdown"style="text-align:center">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Scegli mese
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>Gennaio</li>
      <li>Febbraio</li>
      <li>Marzo</li>
      <li>Aprile</li>
      <li>Maggio</li>
      <li>Giugno</li>
      <li>Luglio</li>
      <li>Agosto</li>
      <li>Settembre</li>
      <li>Ottobre</li>
      <li>Novembre</li>
      <li>Dicembre </li>
    </ul>
  </div>

<h3>Grafico Vendite Mensile</h3>
<div class="h-100 row align-items-center">  
<app-grafico-a-barra></app-grafico-a-barra>
</div>
<p>N° Prodotti venduti: </p>
<p>Quantità totale di prodotti venduti: </p>
<p>Totale spedizioni: </p>


<div class="float-end"><p>Totale Incasso: </p></div>

