<table class="table table-borderless">
    <tr class="table-light ">
        <td class="table-light ">Codice</td>
        <td class="table-light ">Nome</td>
        <td class="table-light ">Azienda</td>
    </tr>
    <tr class="table-light ">
        <td class="table-light "><input type="text " placeholder="Inserisci Codice "></td>
        <td class="table-light "><input type="text " placeholder="Inserisci Nome "></td>
        <td class="table-light "><input type="text " placeholder="Inserisci Azienda "></td>
    </tr>
</table>

<br><br>

<table class="table table-borderless">
    <tr class="table-light ">
        <td class="table-light ">Codice</td>
        <td class="table-light ">Nome</td>
        <td class="table-light ">Azienda</td>
        <td class="table-light ">Prezzo</td>
        <td class="table-light ">Azioni</td>
    </tr>
    <tr class="table-light lista">
        <td class="table-light ">codice</td>
        <td class="table-light ">nome</td>
        <td class="table-light ">azienda</td>
        <td class="table-light ">prezzo</td>
        <td class="table-light "><button>Modifica</button><button>Elimina</button><button>ICONA</button></td>
    </tr>
</table>

<br><br>

<button>Aggiungi Prodotto</button>