table {
    width: 50%;
    /* align-content: center; */
}

tr {
    text-align: center;
}

input {
    border: solid 1px;
}

button {
    /* margin-left: 15px; */
    border: none;
    background-color: orange;
    color: black;
    margin-left: 5px;
}

.lista {
    border: 1px solid;
}

.btn-primary:focus {
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
    color: black;
}