<button type="button" class="btn btn-primary account" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
  </svg>
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Area Riservata</h3>
      </div>
      <div class="modal-body">
      <form action="" class="form-control">
        <p><b>Username o E-mail</b></p>
        <input type="text" class="form-control" name="username" placeholder="E-mail o Username" />
        <br>
        <p><b>Password     </b><a href="#"><em>(Dimenticata? Recuperala qui)</em></a></p>
        <input type="text" class="form-control" name="password" placeholder="Password" />
        <br>
        <button type="submit" class="btn btn-primary btn-accesso" name="invio">Accedi</button>
      </form>
        <hr>
        <p>Non possiedi un account Distributore? <a href="#">Registrati</a></p>
      </div>
    </div>
  </div>
</div>
