.account {
    padding: 5px 10px;
    display: block;
    position: relative;
    float: right;
    margin-top: 0.7em;
}

.btn-accesso {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 5px;
    text-align: center;
    margin-bottom: 10px;
}

.login {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: inline;
    padding-left: 10px;
    vertical-align: middle;
}