<div class="row document">
    <div class="col-lg-3">
        <button class="btn btn-primary"><i class="fa fa-download fa-3x" aria-hidden="true"></i>
        <p><br>Documento di Trasporto</p>
        </button>
    </div>
    <div class="col-lg-3">
        <button class="btn btn-primary"><i class="fa fa-download fa-3x" aria-hidden="true"></i>
        <p><br>Garanzia di consegna</p>
        </button>
    </div>
    <div class="col-lg-3">
        <button class="btn btn-primary"><i class="fa fa-download fa-3x" aria-hidden="true"></i>
        <p><br>Norme Anti SARS-COV19</p>
        </button>
    </div>
</div>