<div id="step1" class="container row ngy">
    <div class="col-lg-12 centered fleft">
        <h2 class="mb50">Tutti i prodotti</h2>
        <div class="col-lg-12 mb50">

            <input class="form-control me-2" type="search" placeholder="Ricerca prodotto..." [(ngModel)]="cercaNomeProdotto" (ngModelChange)="cercaChange()" aria-label="Cerca" name="searchbar">

            <div class="row eqi-container">
                <div *ngFor="let prodotto of prodotti" class="col-lg-3 product" id="{{'prodottiContainer '+prodotto.id}}">
                    <div class="form-check form-check-inline onorder hide">
                        <input type="number" id="{{'qtaprod '+prodotto.id}}" (change)="selezionaProdotti($event,prodotto)" class="input-text qty" min="0" max="qtmax" name="quantita" value=0 title="Quantità prodotto" inputmode="numeric" ngModel>
                        <input class="form-check-input" type="checkbox" id="check-{{prodotto.id}}" name="id-{{prodotto.id}}" ngModel>
                        <input type="number" id="qtaprod-{{prodotto.id}}" class="input-text qty" min="0" max="qtmax" name="quantita" value=0 title="Quantità prodotto" inputmode="numeric" ngModel>
                    </div>
                    <img class="img-product" src="" alt="{{prodotto.descrizione}}" />
                    <div class="downspec">
                    <p class="bold">{{prodotto.nomeProdotto}}</p>
                    <p class="bold">€ {{prodotto.prezzo}} cad.</p>
                    <p class="bold"><b>Quantità disponibile:</b> {{prodotto.quantita}} pz.</p>
                    </div>
                    <a routerLink="/effettuaOrdine-TEST">
                        <img class="img-product" src="{{prodotto.immagine}}" alt="{{prodotto.descrizione}}" />
                        <div class="downspec">
                            <p class="bold">{{prodotto.nomeProdotto}}</p>
                            <p class="bold">€ {{prodotto.prezzo}} cad.</p>
                            <p class="bold"><b>Quantità disponibile:</b> {{prodotto.quantita}} pz.</p>
                        </div>
                    </a>
                </div>
                <!-- col lg 3 -->
            </div>
            <!-- row -->
            <div class="row show">
                <button type="button" class="btn btn-primary ordbutton" (click)="startCart()">Effettua un ordine</button>
                <p style="margin:0"><b>oppure</b></p>
                <button type="button " class="btn btn-primary ordbutton" (click)="startSample()">Richiedi un campione prova gratuito</button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-secondary prevnext hide" (click)="exitCart()">Annulla</button>
                <button type="button" class="btn btn-primary prevnext hide" (click)="eseguiOrdine()">Prosegui</button>
            </div>
        </div>
        <!-- lg12 -->
    </div>
    <!-- col-lg-12-->
</div>
<!-- id -->
<div id="step2" class="ngno">
    <app-gestord-efford-cart></app-gestord-efford-cart>
</div>