<div id="step1" class="container row ngy">
    <div class="col-lg-12 centered fleft">
        <h2 class="mb50">Prodotti Algida®</h2>
        <div class="col-lg-12 mb50">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Ricerca prodotto..." aria-label="Cerca">
                <button class="btn btn-outline-success" type="submit">Cerca</button>
              </form>
            <div class="row eqi-container">
                <div class="col-lg-3 product">
                    <div class="form-check form-check-inline onorder hide">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <input type="number" id="qtaprod" class="input-text qty" step="1" min="0" max="99999" name="quantity" value="0" title="Qt" size="4" inputmode="numeric">
                    </div>
                    <img class="img-product" src="assets/img/gillette.jpg" />
                    <div class="downspec">
                    <p class="bold">Gillette® "Mak 3" 5pz.</p>
                    <p class="bold">€ 12</p>
                    <p><b>Quantità:</b> 60</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <div class="form-check form-check-inline onorder hide">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <input type="number" id="qtaprod" class="input-text qty" step="1" min="0" max="99999" name="quantity" value="0" title="Qt" size="4" inputmode="numeric">
                    </div>
                    <img class="img-product" src="assets/img/dixan.jpg" />
                    <div class="downspec">
                    <p class="bold">Dixan® Detergente liquido 950ml</p>
                    <p class="bold">€ 17</p>
                    <p><b>Quantità:</b> 90</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <div class="form-check form-check-inline onorder hide">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <input type="number" id="qtaprod" class="input-text qty" step="1" min="0" max="99999" name="quantity" value="0" title="Qt" size="4" inputmode="numeric">
                    </div>
                    <img class="img-product" src="assets/img/proraso.jpg" />
                    <div class="downspec">
                    <p class="bold">Proraso® Schiuma Uomo 250ml</p>
                    <p class="bold">€ 9</p>
                    <p><b>Quantità:</b> 35</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <div class="form-check form-check-inline onorder hide">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <input type="number" id="qtaprod" class="input-text qty" step="1" min="0" max="99999" name="quantity" value="0" title="Qt" size="4" inputmode="numeric">
                    </div>
                    <img class="img-product" src="assets/img/dixan.jpg" />
                    <div class="downspec">
                    <p class="bold">Dixan® Detergente liquido 950ml</p>
                    <p class="bold">€ 17</p>
                    <p><b>Quantità:</b> 90</p>
                    </div>
                </div>
            </div>
            <div class="row eqi-container">
                <div class="col-lg-3 product">
                    <div class="form-check form-check-inline onorder hide">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <input type="number" id="qtaprod" class="input-text qty" step="1" min="0" max="99999" name="quantity" value="0" title="Qt" size="4" inputmode="numeric">
                    </div>
                    <img class="img-product" src="assets/img/dixan.jpg" />
                    <div class="downspec">
                    <p class="bold">Dixan® Detergente liquido 950ml</p>
                    <p class="bold">€ 17</p>
                    <p><b>Quantità:</b> 90</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <div class="form-check form-check-inline onorder hide">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <input type="number" id="qtaprod" class="input-text qty" step="1" min="0" max="99999" name="quantity" value="0" title="Qt" size="4" inputmode="numeric">
                    </div>
                    <img class="img-product" src="assets/img/proraso.jpg" />
                    <div class="downspec">
                    <p class="bold">Proraso® Schiuma Uomo 250ml</p>
                    <p class="bold">€ 9</p>
                    <p><b>Quantità:</b> 35</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <div class="form-check form-check-inline onorder hide">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <input type="number" id="qtaprod" class="input-text qty" step="1" min="0" max="99999" name="quantity" value="0" title="Qt" size="4" inputmode="numeric">
                    </div>
                    <img class="img-product" src="assets/img/dixan.jpg" />
                    <div class="downspec">
                    <p class="bold">Dixan® Detergente liquido 950ml</p>
                    <p class="bold">€ 17</p>
                    <p><b>Quantità:</b> 90</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <div class="form-check form-check-inline onorder hide">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <input type="number" id="qtaprod" class="input-text qty" step="1" min="0" max="99999" name="quantity" value="0" title="Qt" size="4" inputmode="numeric">
                    </div>
                    <img class="img-product" src="assets/img/gillette.jpg" />
                    <div class="downspec">
                    <p class="bold">Gillette® "Mak 3" 5pz.</p>
                    <p class="bold">€ 12</p>
                    <p><b>Quantità:</b> 60</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row show">
            <button class="btn btn-primary ordbutton" (click)="startCart()">Effettua un ordine</button>
            <p style="margin:0"><b>oppure</b></p>
            <button class="btn btn-primary ordbutton" (click)="startCart()">Richiedi un campione prova gratuito</button>
        </div>
        <div class="row">
            <button class="btn btn-secondary prevnext hide" (click)="exitCart()">Annulla</button>
            <button class="btn btn-primary prevnext hide" (click)="showCart()">Prosegui</button>
        </div>
        <nav aria-label="Navigazione" class="navigazione">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
        </nav>
    </div> <!-- col-lg-12-->
</div><!-- id -->
<div id="step2" class="ngno">
    <app-gestord-efford-cart></app-gestord-efford-cart>
</div> 