<div id="gest-ord-dettagli-ordine" class="container row">
    <div class="col-lg-12 centered fleft">
        <h2>Riepilogo Ordine</h2>
        <h4 class="mb50">Ordine n. #12345</h4>
        <div class="col-lg-12 mb50">
            <h5><b>Prodotti ordinati</b></h5>
            <div class="row eqi-container">
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/gillette.jpg" />
                    <div class="downspec">
                    <p class="bold">Gillette® "Mak 3" 5pz.</p>
                    <p class="bold">€ 12</p>
                    <p><b>Quantità:</b> 60</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/dixan.jpg" />
                    <div class="downspec">
                    <p class="bold">Dixan® Detergente liquido 950ml</p>
                    <p class="bold">€ 17</p>
                    <p><b>Quantità:</b> 90</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/proraso.jpg" />
                    <div class="downspec">
                    <p class="bold">Proraso® Schiuma Uomo 250ml</p>
                    <p class="bold">€ 9</p>
                    <p><b>Quantità:</b> 35</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/dixan.jpg" />
                    <div class="downspec">
                    <p class="bold">Dixan® Detergente liquido 950ml</p>
                    <p class="bold">€ 17</p>
                    <p><b>Quantità:</b> 90</p>
                    </div>
                </div>
            </div>
            <div class="row eqi-container">
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/dixan.jpg" />
                    <div class="downspec">
                    <p class="bold">Dixan® Detergente liquido 950ml</p>
                    <p class="bold">€ 17</p>
                    <p><b>Quantità:</b> 90</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/proraso.jpg" />
                    <div class="downspec">
                    <p class="bold">Proraso® Schiuma Uomo 250ml</p>
                    <p class="bold">€ 9</p>
                    <p><b>Quantità:</b> 35</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/dixan.jpg" />
                    <div class="downspec">
                    <p class="bold">Dixan® Detergente liquido 950ml</p>
                    <p class="bold">€ 17</p>
                    <p><b>Quantità:</b> 90</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/gillette.jpg" />
                    <div class="downspec">
                    <p class="bold">Gillette® "Mak 3" 5pz.</p>
                    <p class="bold">€ 12</p>
                    <p><b>Quantità:</b> 60</p>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Navigazione" class="navigazione">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
          <hr>
        <div class="row mb50 mt20">
            <div class="col-lg-6">
                <h4>Informazioni sull'ordine</h4>
                <p><b>Acquirente:</b> Mario Caccioppoli</p>
                <p><b>Data acquisto:</b> 21/12/2012</p>
                <p><b>Quantità totale (in Pz.):</b> 999</p>
            </div>
            <div class="col-lg-6">
                <h4>Gestione Pratiche Trasporto</h4>
                <p>APP COMPONENT GPT</p>
                <h4>Status</h4>
                <p>In lavorazione...</p>
            </div>
        </div>
        <hr>
        <div class="row mb50">
            <div class="col-lg-6">
                <h4>Documenti allegati</h4>
                  <app-gestione-ordini-download></app-gestione-ordini-download>
                  <app-gestione-ordini-upload></app-gestione-ordini-upload>
            </div>
            <div class="col-lg-6">
                <h4>Riepilogo</h4>
                <p>Totale articoli: 840</p>
                <p>Prezzo imponibile: € 92780</p>
                <p>VAT: 19% (GER)</p>
                <p>TOTALE: € 101900
            </div>
        </div> <!-- row -->
    </div> <!-- col-lg-12-->
</div><!-- id -->