<div id="gest-ord-dettagli-ordine" class="container row">
    <div class="col-lg-12 centered fleft">
        <h2>Riepilogo Ordine</h2>
        <h4 class="mb50">Ordine n. {{ordineProdotto.idOrdine}}</h4>
        <div class="col-lg-12 mb50">
            <h5><b>Prodotti ordinati</b></h5>
            <div class="row eqi-container dispx4">
                <div class="col-lg-auto product" *ngFor="let prod of ordineProdotto">
                    <img class="img-product" src="assets/img/gillette.jpg" />{{prod.prodotto.immagine}}
                    <div class="downspec">
                    <p class="bold">{{prod.prodotto.nomeProdotto}}</p>
                    <p class="bold">€ {{prod.prodotto.prezzo}}</p>
                    <p><b>Quantità:</b> Pz. {{prod.prodotto.quantita}}</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/dixan.jpg" />
                    <div class="downspec">
                    <p class="bold">Dixan® Detergente liquido 950ml</p>
                    <p class="bold">€ 17</p>
                    <p><b>Quantità:</b> 90</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/proraso.jpg" />
                    <div class="downspec">
                    <p class="bold">Proraso® Schiuma Uomo 250ml</p>
                    <p class="bold">€ 9</p>
                    <p><b>Quantità:</b> 35</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/dixan.jpg" />
                    <div class="downspec">
                    <p class="bold">Dixan® Detergente liquido 950ml</p>
                    <p class="bold">€ 17</p>
                    <p><b>Quantità:</b> 90</p>
                    </div>
                </div>
            </div>
            <div class="row eqi-container">
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/dixan.jpg" />
                    <div class="downspec">
                    <p class="bold">Dixan® Detergente liquido 950ml</p>
                    <p class="bold">€ 17</p>
                    <p><b>Quantità:</b> 90</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/proraso.jpg" />
                    <div class="downspec">
                    <p class="bold">Proraso® Schiuma Uomo 250ml</p>
                    <p class="bold">€ 9</p>
                    <p><b>Quantità:</b> 35</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/dixan.jpg" />
                    <div class="downspec">
                    <p class="bold">Dixan® Detergente liquido 950ml</p>
                    <p class="bold">€ 17</p>
                    <p><b>Quantità:</b> 90</p>
                    </div>
                </div>
                <div class="col-lg-3 product">
                    <img class="img-product" src="assets/img/gillette.jpg" />
                    <div class="downspec">
                    <p class="bold">Gillette® "Mak 3" 5pz.</p>
                    <p class="bold">€ 12</p>
                    <p><b>Quantità:</b> 60</p>
                    </div>
                </div>
            </div>
        </div>
          <hr>
        <div class="row mb50 mt20">
            <div class="col-lg-6">
                <h4>Informazioni sull'ordine</h4>
                <p><b>Acquirente:</b> {{distributore.nome}} {{distributore.cognome}} - {{distributore.vat}}</p>
                <p><b>Data acquisto:</b> {{ordine.dataOrdinazione}}</p>
                <p><b>Quantità totale (in Pz.):</b> {{this.quantitaTotale}}</p>
            </div>
            <div class="col-lg-6">
                <h4>Gestione Pratiche Trasporto</h4>
                <app-gestione-pratiche-trasporto></app-gestione-pratiche-trasporto>
                <h4>Status</h4>
                <p>In lavorazione...</p>
            </div>
        </div>
        <hr>
        <div class="row mb50">
            <div class="col-lg-6">
                <h4>Documenti allegati</h4>
                  <app-gestione-ordini-download></app-gestione-ordini-download>
                  <app-gestione-ordini-upload></app-gestione-ordini-upload>
            </div>
            <div class="col-lg-6">
                <h4>Riepilogo</h4>
                <p>Totale articoli: {{this.quantitaTotale}}</p>
                <p>TOTALE: € {{this.price}}</p>
            </div>
        </div> <!-- row -->
    </div> <!-- col-lg-12-->
</div><!-- id -->