<div class="container-fluid sidebar">
    <div class="row flex-nowrap">
        <div class="col-auto px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <br>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <!-- Amministratore di piattaforma -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Registra Azienda</a>
                    </li>
                    <!-- Azienda -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/profiloAzienda">Profilo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gestioneSconti">Gestione Sconti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gestioneOrdini">Gestione Ordini</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gestioneProdotti">Gestione Prodotti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gestioneVendite">Gestione Vendite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gestioneRecensioni">Gestione Recensioni</a>
                    </li>
                    <!-- Distributore -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/visualizzaAziende">Aziende</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/visualizzaOrdini">Ordini</a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
</div>