<div class="container-fluid sidebar">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <br><br><br><br><br>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <!-- Amministratore di piattaforma -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Registra Azienda</a>
                    </li>
                    <!-- Azienda -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profilo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gestione Sconti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gestione Ordini</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gestione Prodotti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gestione Vendite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gestione Recensioni</a>
                    </li>
                    <!-- Distributore -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Aziende</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ordini</a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
</div>