<div *ngIf="currentUser!=null && idAzienda==0 && currentUser.tipo!='Azienda' ">
    <div class="row fullheight">
        <div class="col-lg-3 centered pd30 intro">
            <img class="img-circle" src="assets/icons/Logo.png" alt="">
            <br>
            <br>
            <p>Pannello</p>
            <button class="btn btn-secondary w100"><a [routerLink]="['/']">Indietro</a></button>
            <button class="btn btn-primary w100" data-bs-toggle="modal" data-bs-target="#modificaAccount">Modifica Account</button>
            <button class="btn btn-primary w100" data-bs-toggle="modal" data-bs-target="#modificaPassword">Modifica Password</button>
            <button *ngIf="currentUser.tipo!='Amministratore'" class="btn btn-primary w100" data-bs-toggle="modal" data-bs-target="#eliminaAccount">Elimina Account</button>
        </div>
        <div class="col-lg-9 centered">
            <h2 class="titolo centered">{{currentUser?.nome}} {{currentUser?.cognome}}
            </h2><br>
            <div class="container scroll">
                <h5 class="m25 left" *ngIf="currentUser.tipo=='Amministratore'"><b>Username</b></h5>
                <p class="paragrafo left" *ngIf="currentUser.tipo=='Amministratore'">{{currentUser?.username}}</p>
                <h5 class="m25 left" *ngIf="currentUser.tipo=='Amministratore'"><b>Email</b></h5>
                <p class="paragrafo left" *ngIf="currentUser.tipo=='Amministratore'">{{currentUser?.email}}</p>
                <h5 class="m25 left" *ngIf="currentUser.tipo!='Amministratore'"><b>Nome (o Brand)</b></h5>
                <p class="paragrafo left" *ngIf="currentUser.tipo!='Amministratore'">{{currentUser?.nome}}</p>
                <h5 class="m25 left" *ngIf="currentUser.tipo!='Azienda' && currentUser.tipo!='Amministratore'"><b>Telefono</b></h5>
                <p class="paragrafo left" *ngIf="currentUser.tipo!='Azienda' && currentUser.tipo!='Amministratore'">{{currentUser.telefono}}</p>
                <h5 class="m25 left" *ngIf="currentUser.tipo!='Amministratore'"><b>Indirizzo</b></h5>
                <p class="paragrafo left" *ngIf="currentUser.tipo!='Amministratore'">{{currentUser.indirizzo}}</p>
                <h5 class="m25 left" *ngIf="currentUser.tipo!='Amministratore'"><b>Descrizione</b></h5>
                <p class="paragrafo left" *ngIf="currentUser.tipo!='Amministratore'">{{currentUser.descrizione}}</p>
            </div>
        </div>
    </div>
</div>

<!-- profilo Azienda -->

<div *ngIf="currentUser!=null && currentUser.tipo=='Azienda' || idAzienda!=0  ">
    <div class="row fullheight">
        <div class="col-lg-3 centered pd30 intro">
            <img class="img-circle" [src]="azienda.logoBlob" alt="">
            <br>
            <br>
            <p>Pannello</p>
            <button class="btn btn-secondary w100"><a [routerLink]="['/']">Indietro</a></button>

            <!-- <button *ngIf="azienda != undefined && azienda.id != undefined" class="btn btn-primary w100"><a [routerLink]="['/visualizzaProdotti', azienda.id]">Elimina</a></button> -->
        </div>
        <div class="col-lg-9 centered">
            <h2 class="titolo centered">{{azienda.nomeAzienda}}
                <!--{{azienda.nomeAzienda}}-->
            </h2><br>
            <div class="container scroll">
                <h5 class="m25 left"><b>Nome (o Brand)</b></h5>
                <p class="paragrafo left">
                    <!--{{azienda.nomeAzienda}}-->{{azienda.nomeAzienda}}</p>
                <h5 class="m25 left"><b>Ragione Sociale</b></h5>
                <p class="paragrafo left">Unilever</p>
                <h5 class="m25 left"><b>Indirizzo</b></h5>
                <p class="paragrafo left">{{azienda.indirizzo}}</p>
                <h5 class="m25 left"><b><!--{{azienda.descrizione}}-->Descrizione</b></h5>
                <p class="paragrafo left">{{azienda.descrizione}}</p>
                <button class="btn btn-primary"><a [routerLink]="['/visualizzaProdotti', idAzienda]">Visualizza Prodotti</a></button>
                <!-- <div>*ngIf="azienda != undefined && azienda.id != undefined"</div> -->
            </div>
        </div>
    </div>
</div>



<!-- MODAL MODIFICA PASSWORD -->
<div class="modal fade" id="modificaPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-control" #modificaPassword="ngForm" (ngSubmit)="newPassword(modificaPassword.value)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifica Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="modal-body">
                                <div><b>Nuova Password</b></div>
                                <input type="text" ngModel class="form-control" name="password" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-primary">INVIA NUOVA PASSWORD</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- MODAL MODIFICA ACCOUNT -->
<div class="modal fade" id="modificaAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-control" #modificaAC="ngForm" (ngSubmit)="modificaAccount(modificaAC.value)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifica Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="modal-body">
                                <div *ngIf="currentUser != null">
                                    <div *ngIf="currentUser.tipo!='Amministratore' && currentUser.tipo!='Azienda'"><b>Nuovo nome</b></div>
                                    <input *ngIf="currentUser.tipo!='Amministratore' && currentUser.tipo!='Azienda'" type="text" class="form-control" ngModel name="nome" /><br>
                                    <div *ngIf="currentUser.tipo!='Amministratore' && currentUser.tipo!='Azienda'"><b>Nuovo cognome</b></div>
                                    <input *ngIf="currentUser.tipo!='Amministratore' && currentUser.tipo!='Azienda'" type="text" class="form-control" ngModel name="cognome" /><br>
                                    <div *ngIf="currentUser.tipo!='Azienda'"><b>Nuovo username</b></div>
                                    <input *ngIf="currentUser.tipo!='Azienda'" type="text" class="form-control" ngModel name="username" /><br>
                                    <div *ngIf="currentUser.tipo=='Azienda'"><b>Nuovo Nome Azienda</b></div>
                                    <input *ngIf="currentUser.tipo=='Azienda'" type="text" class="form-control" ngModel name="nome" /><br>
                                    <div *ngIf="currentUser.tipo!='Amministratore'"><b>Nuovo indirizzo</b></div>
                                    <input *ngIf="currentUser.tipo!='Amministratore'" type="text" class="form-control" ngModel name="indirizzo" /><br>
                                    <div *ngIf="currentUser.tipo!='Amministratore' && currentUser.tipo!='Distributore'"><b>Nuova descrizione</b></div>
                                    <input *ngIf="currentUser.tipo!='Amministratore' && currentUser.tipo!='Distributore'" type="text" class="form-control" ngModel name="descrizione" /><br>
                                    <div><b>Nuova email</b></div>
                                    <input type="text" class="form-control" ngModel name="email" /><br>
                                    <div *ngIf="currentUser.tipo!='Amministratore'"><b>Nuovo vat number</b></div>
                                    <input *ngIf="currentUser.tipo!='Amministratore'" type="text" maxlength="12" class="form-control" ngModel name="vat" /><br>
                                    <div *ngIf="currentUser.tipo=='Distributore'"><b>Nuovo numero telefono</b></div>
                                    <input *ngIf="currentUser.tipo=='Distributore'" type="text" maxlength="10" class="form-control" ngModel name="telefono" /><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-primary">MODIFICA ACCOUNT</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- MODAL_CANCELLA ACCOUNT -->
<div class="modal fade" id="eliminaAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ATTENZIONE !</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                VUOI ELIMINARE DEFINITAVAMENTE L'ACCOUNT ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" (click)="eliminaAccount(this.currentUser?.id)" class="btn btn-primary" #Elimina>Cancella</button>
            </div>
        </div>
    </div>
</div>