<div class="col-lg-4 containerGenerale">
    <h4 class="titolo">{{azienda?.nomeAzienda}}</h4><br>
    <div class="container scroll">
        <div class="row">
            <div class="col-sm-3 colonnaLogo">
                <img src="assets/icons/Logo.png" alt="">
            </div>
            <div class="col-lg-9 colonnaParagrafo">
                <textarea class="paragrafo" rows="7" cols="15" readonly>{{azienda?.descrizione}}</textarea>
                <a *ngIf="azienda != undefined && azienda.id != undefined" [routerLink]="['visualizzaProdotti', azienda.id]"><button>Visualizza Prodotti</button></a>
            </div>
        </div>
    </div><br><br>
    <!-- METTERE ID IN ROUTERLINK [routerLink]=[" '/visualizzaProdotti' , Prodotto.id "]
        E CONFIGURARLO NEL APP ROUTING /:id -->

</div>
