<div class="col-lg-4 containerGenerale scroll">
    <h4 class="titolo">NOME AZIENDA</h4><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 colonnaLogo">
                <img src="assets/icons/Logo.png" alt="">
            </div>
            <div class="col-lg-9 colonnaParagrafo">
                <textarea class="paragrafo" rows="7" cols="15" readonly>INFORMAZIONI AZIENDA</textarea>
                <a routerLink="/visualizzaProdotti"><button>Visualizza Prodotti</button></a>
            </div>
        </div>
    </div><br><br>
    <!-- TOGLIERE ROUTERLINK -->

</div>